{% block footer %} 
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Sidney Marcelo Franco.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Brasil | São Paulo | Análise de dados e Desenvolvimento Web 
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}
